html {
  --background: #efeff1;
  --foreground: #fbfbfb;
  --border: #dedde2;
  --copy: #252329;
  --link: rgb(1, 88, 135);

  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
  font-size:16px;
  line-height:1.5;
  color:var(--copy);
  scroll-behavior:smooth;
  background-color: var(--background);
  padding:0;
  margin:0;
}
html:lang(fr) *[lang]:not(:lang(fr)),
html:lang(en) *[lang]:not(:lang(en))
{
  display:none;
}
body {
  padding:0;
  margin:0;
}
header {
  position:fixed;
  top:0;
  width:100%;
}
h1 {
  text-align:center;
  background-color: var(--background);
  padding-bottom:0.3rem;
  border-bottom:1px solid var(--border);
  margin:0;
  font-size:2rem;
}
a {
  color:var(--link);
}
main {
  margin:auto;
  margin-top:3rem;
  max-width:80ch;
  padding-left:1.6ch;
}
section {
  padding:0.5em 1em;
  scroll-margin-top: 28vh;
}
section.selected {
  box-shadow:0px 0px 10px #bbb;
}
code {
  background-color:var(--foreground);
}

#styles ul {
  padding-left:1.5rem;
}